#main-header {
  img {
    width: 100%;
    height: 100%;
  }
  .port-item {
    width: 30%;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
.bg-black {
  color: #fff;
  background: #272626;
}

@media only screen and (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}